[submodule "custom_nodes/rgthree-comfy"]
	path = custom_nodes/rgthree-comfy
	url = https://github.com/rgthree/rgthree-comfy.git
[submodule "custom_nodes/ComfyUI-TiledDiffusion"]
	path = custom_nodes/ComfyUI-TiledDiffusion
	url = https://github.com/shiimizu/ComfyUI-TiledDiffusion
[submodule "custom_nodes/cg-image-filter"]
	path = custom_nodes/cg-image-filter
	url = https://github.com/chrisgoringe/cg-image-filter
[submodule "custom_nodes/ComfyUI-KJNodes"]
	path = custom_nodes/ComfyUI-KJNodes
	url = https://github.com/kijai/ComfyUI-KJNodes
[submodule "custom_nodes/ComfyUI-utils-nodes"]
	path = custom_nodes/ComfyUI-utils-nodes
	url = https://github.com/zhangp365/ComfyUI-utils-nodes
[submodule "custom_nodes/ComfyUI-Custom-Scripts"]
	path = custom_nodes/ComfyUI-Custom-Scripts
	url = https://github.com/pythongosssss/ComfyUI-Custom-Scripts
