[submodule "custom_nodes/ComfyUI-Gallery"]
	path = custom_nodes/ComfyUI-Gallery
	url = https://github.com/PanicTitan/ComfyUI-Gallery
[submodule "custom_nodes/ComfyUI-Impact-Pack"]
	path = custom_nodes/ComfyUI-Impact-Pack
	url = https://github.com/ltdrdata/ComfyUI-Impact-Pack
[submodule "custom_nodes/ComfyUI-Impact-Subpack"]
	path = custom_nodes/ComfyUI-Impact-Subpack
	url = https://github.com/ltdrdata/ComfyUI-Impact-Subpack
